@model List<BitirmeOdev.Models.Urun>

@{
    string url = "/Liste/UrunEkle/" + ViewBag.listeId + "?urunId=";
}

<table class="table">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Ad</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Gorsel" style="max-width:250px"/></td>
                <td>@item.Marka @item.Ad</td>
                <td>@item.Aciklama</td>
                <td><a href="@url@item.Id" class="btn btn-primary">Ekle</a></td>
            </tr>
        }
    </tbody>
</table>
