@model List<BitirmeOdev.Models.Urun>

<table>
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Ad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Gorsel"/></td>
                <td><@item.Marka @item.Ad /></td>
                <td><a href="/Liste/UrunEkle/@ViewData["listId"]?urunId=@item.Id" class="btn btn-primary">Ekle</a></td>
            </tr>
        }
    </tbody>
</table>
